@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/********* VARIABLES *****************************************************************************************/

:root {
    --padding-inline-section: 100px;
    --margin-top-section: 160px
}

/********! RESETS !********************************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #2F327D;
}

.CONTAINER {
    max-width: 1920px;
    margin: 0 auto;
}

h1 {
    font-family: "Poppins" sans-serif;
    font-weight: 700;
    font-size: 54px;
    line-height: 140%;;
    letter-spacing: 0%;

}

h2 {
    font-family: "Poppins" sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 180%;
}

h3 {
    font-family: "Poppins" sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
}

h4 {
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 24px;
}

p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #696984;
}


a {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2%;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}


.underline-a {
    text-decoration: underline; 
    color: #696984;
}


/********! PROPERTIES !*************************************************************************************/
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rev-row {
    flex-direction: row-reverse;
}

.white-highlight {
    color: #ffffff;
}

.orange-highlight {
    color: #F48C06;
}

.orange-bg {
    background-color: #F48C06;
}

.white-bg {
    background-color: #ffffff;
    color: #6C6C6C;
}

.hidden {
    opacity: 0;
    transition-delay: 1s;
    visibility: hidden;
}

.visible {
    visibility: visible;
    opacity: 1;

}

.bold {font-weight: 600;}
.med {font-weight: 500;}
.light {font-weight: 400;}

.very-sm {font-size: 20px;}
.sm {font-size: 22px;}
.med {font-size: 24px;}
.reg {font-size: 26px;}
.large {font-size: 28px;}
.xl {font-size: 32px;}

/********! COMPONENETS !**********************************************************************************/
.logo-txt {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 4%;
    margin-left: -56px;
    color: #113C49;
    z-index: 2;
}

.logo-img {
    width: 80px;
    height: 80px;
    transition: transform 0.2s ease;
}

.skilline-logo:hover {
   .logo-img {
     transform: rotate(90deg);
    z-index: 0;
   }
}

.btn-solid {
    display: flex;
    min-width: 160px;
    height: 60px;
    border-radius: 80px;
    justify-content: center;
    align-items: center;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-solid:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-hollow {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    height: 60px;
    border-radius: 80px;
    padding: 20px 40px;
    background-color: transparent;

    transition: all 0.2s ease;
}

.btn-hollow:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    background-color: #FFF2E1
}

.heading-top-bar {
    justify-content: start;
    padding-bottom: 32px;
    gap: 30px;
    p {
    color: #525596;
    font-size: 20px;
    }
}

.heading-top-bar
.line {
    width: 80px;
    height: 1px;
    background-color: #525596;
}

/********? HEADER ?********************************************************************************/

header {
    background-color: #FFF2E1;
    padding: 60px var(--padding-inline-section);
    padding-bottom: 0px;
}


/* .navbar {

} */

.nav-links ul {
    gap: 40px;

    li .link{color: #252641;}
}

.links-toggle {
    display: none;
    width: 60px;
    height: 60px;
    background-image: url("./Images/icons/hamburger.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.side-bar {
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    margin-top: 24px;
    display: none;

    transition: display 0.5s, opacity 0.5s ease-in-out;
    transition-behavior: allow-discrete;
    li .link{color: #252641;}
}

/* .side-bar .top-panel {
    width: 100%;
    height: fit-content;
    justify-content: right;
    background-color: #858585;
    padding: 16px;
    margin-bottom: 48px;
} */

.side-bar ul {
    justify-content: space-evenly;
    padding: 24px 0px;
}

/********? HERO-SECTION ?********************************************************************************/
.hero-section {
    margin-top: 60px;
    gap: 40px;
    align-items:flex-start;
}

.hero-section .txt-content {
    width: 50%;
    align-self: center;
    h1 {margin-bottom: 34px; max-width: 680px;}
    p { margin-bottom: 52px; color: #464646; max-width: 523px;}
}

.hero-section .txt-content 
.btn-container {
    justify-content: start;
    gap: 40px;
    flex-wrap: wrap;
    .btn-solid {min-width: 220px;}
}

.hero-section .txt-content 
.btn-container .btn-2 {
    gap: 32px;
    overflow: hidden;

    .play-logo {
        min-width: 60px;
        min-height: 60px;
        background-color: white;
        border-radius: 50%;
        background-image: url('./Images/logos/play-logo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 22px;
        background-size: 20px;
    }
    p {
        width: 100%; margin-bottom: 0; color: #252641;
        transform: translateX(400px);
        transition: transform 0.5s ease;
    }
}

.hero-section .txt-content 
.btn-container .btn-2:hover {
    p{
        transform: translateX(0px)
    }
}

.hero-section .img-content {
    width: 50%;
    align-self: flex-end;
    img {width: 100%; min-width: 450px;}
}

/********? COMPANY SECTION ?********************************************************************************/
.company-section {
    padding-inline: var(--padding-inline-section);
    margin-top: 100px;
    text-align: center;
    p {color: #696984; margin-bottom: 32px;}
}

.company-section .brand-container{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.brand-container img {
    transition: transform 0.2s ease;
}

.brand-container img:hover {
    transform: scale(1.04);
}
/********? ALL IN ONE ?********************************************************************************/
.all-in-one {
    text-align: center;
    padding-inline: var(--padding-inline-section); 
    margin-top: var(--margin-top-section)
}

.all-in-one .text-content {
    margin: 0 auto;
    max-width: 832px;
    p {margin-top: 20px;}
}

.features-card-container {
    display: flex;
    justify-content:center;
    margin-top: 100px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.feature-card {
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px;
    width: 95%;
    max-width: 450px; min-height: 480px;
    margin: 0 10px;
    padding: 0 52px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 50px;
    padding-top: 130px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.feature-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.feature-card-holder {
    position: relative;
}

.feature-card-holder .top-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: -50px;
    position: inherit;
    z-index: 1;
}

.invoice {
    background-image: url("./Images/logos/file-invoice.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #5B72EE;
}

.calender {
    background-image: url("./Images/logos/calendar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F48C06;
}

.users {
    background-image: url("./Images/logos/users.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #29B9E7;
}

/********? WHAT IS SKILLINE ?********************************************************************************/
.what-is-skilline {
    text-align: center;
    padding-inline: var(--padding-inline-section);
    margin-top: var(--margin-top-section)
}

.what-is-skilline .text-content {
    max-width: 1100px;
    margin: 0 auto;

    p {margin-top: 20px;}
}

.what-is-skilline .card-container {
    justify-content: center;
    gap: 100px;
    margin-top: 80px;
}

.what-is-skilline .card-container 
.card {
    width: 98%;
    max-width: 600px;
    height: 400px;
    border-radius: 20px;
    text-align: center;
}

.what-is-skilline .card-container .card
.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bold {margin-bottom: 18px; color: white;}
    }

.what-is-skilline .card-container .card .content-wrapper
button {
    width: 80%;
    max-width: 300px;
    height:fit-content;
    min-height: 80px;
}

.what-is-skilline .card-container 
.instructors {
    background-image: linear-gradient(rgb(23 27 65 / 0.45), rgb(23 27 65 / 0.45)), url("./Images/for-instructors-img.png");
    background-repeat: no-repeat;
    background-position: center; 

    button {
        border: 1px solid white;
    }

    button:hover {
        background-color: rgba(255, 255, 255, 0.16);
    }
}

.what-is-skilline .card-container 
.students {
   background-image: linear-gradient(rgb(23 27 65 / 0.45), rgb(23 27 65 / 0.45)),  url("./Images/for-students-img.png");
    background-repeat: no-repeat;
    background-position: center;
    
    button {
        background-color: #23BDEEE5;
        border: none;
    }
}

/********? OUR FEATURES ?********************************************************************************/
.our-features {
    text-align: center;
    margin-top: var(--margin-top-section);
    padding-inline: var(--padding-inline-section);
    margin-inline: auto;
}

.our-features .feature-wrapper {
    margin-top: 100px;
    text-align: left;
    flex-direction: column;
    align-items: center;
    gap: 160px;
}

.our-features .feature-wrapper 
.our-feature-card {
    justify-content: space-between;
    column-gap: 60px;

    p {padding-top: 20px;}
}

/* .our-features .feature-wrapper .text-holder {

}

.our-features .feature-wrapper .img-holder {

} */


/********? YOU CAN DO SKILLINE ?********************************************************************************/
.you-can-do-skilline {
    text-align: center;
    align-items: start;
    justify-content: space-between;
    margin-top: var(--margin-top-section);
    padding-inline: var(--padding-inline-section);
    margin-inline: auto;
/* 
    margin: 0 208px;
    margin-bottom: 160px; */
}


.you-can-do-skilline .text-content {
    width: 50%;
    text-align: left;
     margin-right: 40px;

    h3 {position: relative;}
    p {margin-top: 30px; margin-right: 96px; margin-bottom: 30px;}
}

.you-can-do-skilline .text-content h3 .tl-circle {
    position: absolute;
    top: -13px; left: -25px;
    background-color: #F4B767;
    width: 72px; height: 72px;
    border-radius: 50%;
    z-index: -1;
}

.you-can-do-skilline .image-content {
    width: 50%;
    height: 470px;
    position: relative;

    background-image: url("./Images/confident-teacher.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

    /* img {
        width: 100%;
    } */

    .tl-rect {
        position: absolute;
        top: -20px;
        left: -20px;
        border-radius: 20px;
        width: 138px;
        height: 138px;
        background-color: #23BDEE;
        z-index: -1;
    }

    .br-rect {
        position: absolute;
        bottom: -20px;
        right: -20px;
        border-radius: 20px;
        width: 231px;
        height: 231px;
        background-color: #F3AC50;
        z-index: -1;
    }
}


/********? INTEGRATIONS ?********************************************************************************/
.integrations-section {
    margin-top: var(--margin-top-section);
    padding-inline: var(--padding-inline-section);
    text-align: left;
}

.integrations-section .logo-section{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
}

.integrations-section .text-section {
    width: 50%;
    h3 {padding-bottom: 30px;}
    button {
        /* min-width: 280px; */
        height: 80px;
        border: 1px solid #F48C06;
        margin-top: 44px;
    }
}

/********? TESTIMONIAL ?********************************************************************************/
.testimonial-section {
    margin-top: var(--margin-top-section);
    padding-inline: var(--padding-inline-section);
    text-align: left;
    align-items: start;
}

.testimonial-section .text-section{
    width: 50%;
    button {
        /* min-width: 400px; */
        height: 80px;
        border: 1px solid #F48C06;
        margin-top: 44px;
    }
}

.testimonial-section .img-section {
    width: 50%;
    height: 700px;
    position: relative;
}

.testimonial-section .img-section 
.img-holder {
    margin: 0 auto;
    width: 100%;
    max-width: 560px;
    height: 700px;
    background-image: url("./Images/smiling-woman-with-afro-posing-pink-sweater 1.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.testimonial-section .img-section 
.br-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%; height: 330px;
    max-width: 680px;
    position: absolute;
    bottom: -120px;
    right: -10%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 40px 60px 0px 72px;

    border-left: 14px solid #F67766;

    .comment {max-height: 154px; overflow: auto;}
    p { color: #5F5F7E;}
}

.testimonial-section .img-section 
.br-img .name-holder {
    width: 100%;
    margin-top: 40px;
    align-self: flex-start;
    margin-bottom: 40px;
    justify-content: space-between;

    .stars {gap: 4px; width: 100%; justify-content: flex-end;}
    p {color: #80819A;}

}

/********? NEWS SECTIONM ?********************************************************************************/
.news-section {
    margin-top: calc(var(--margin-top-section) + 100px);
    padding-inline: var(--padding-inline-section);
    text-align: center;
}

.news-container {
    column-gap: 120px;
    padding-top: 100px;
    align-items: flex-start;
    h2{padding-bottom: 20px;}
}

.news-container .left{
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content:space-around;

    h4 {text-align: left; margin-top: 20px; color: #252641;}
    a {margin-top: 28px;}
}

.news-container .right{
    width: 50%;
    text-align: left;

    h4 {text-align: left; color: #252641;}
}

.news-container .right ul li {
    margin-bottom: 50px;
    gap: 40px;
    align-items: start;
}

.news-container .right ul li .img-holder {
    width: 280px;
    height: 200px;
    position: relative;
    border-radius: 20px;
}

.news-container .right ul li .img-holder 
.overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    width:fit-content;
    padding: 2px 16px;
}

.news-type {
    width: 130px;
    height: 40px;
    background-color: #F4C467;
    color: #252641;
    border-radius: 80px;
    margin-top: 40px;
    text-align: center;
    padding: 2px 0px;
}

/********?  FOOTER ?********************************************************************************/
footer {
    background-color: #252641;
    text-align: center;
    color: #B2B3CF;
    padding: 74px 0px 40px 0px;
    padding-inline:var(--padding-inline-section);
    margin-top: var(--margin-top-section);
    p {   color: #B2B3CF;}
/* 
    display: flex;
    flex-direction: column;
    row-gap: 40px; */
}

footer .flex {
    justify-content: center;
}

footer .logo-holder {
    text-align: left;
    gap: 82px;
    margin-bottom: 80px;
}

footer .skilline-logo {
    justify-content: start;
    color: white;

    .logo-txt {color: white;}
}

footer .subscribe-btn-holder {
    gap: 20px;
    margin-top: 20px; 
    margin-bottom: 96px;
}

footer .subscribe-btn-holder .btn-hollow {
    width: 400px;
    border: 1px solid #83839A;
}

footer .subscribe-btn-holder .btn-hollow:hover {
    background-color: rgba(80, 80, 80, 0.371);
}

footer input {
    color: #83839A;
}

footer .subscribe-btn-holder .btn-solid {
    width: 200px;
    color: white;
    background: linear-gradient(180deg, #545AE7, #393FCF);
    border: none;
}

footer ul {
    gap: 17px;
    margin-bottom: 20px; 
}

.footer-a {
    color: #B2B3CF;
}


/********! MEDIA QUERRIES !***************/

@media only screen and (min-width: 1280px) {

    .w393 {max-width: 393px;}
    .w347 {max-width: 347px;}
    .w421 {max-width: 421px;}
    .w274 {max-width: 274px;}

    .integrations-section .text-section {
        button {
            min-width: 280px;
        }
    }

    .testimonial-section .text-section{
        button {
            min-width: 400px;
        }
    }
}